<style>
    .contenedor {
        display: flex;
        background-color: #fff;


    }

    .row {
        width: 100%;
    }

    .col-9 {
        margin-top: 70px;
        /* Ajusta según la altura de tu barra de navegación */
    }


    aside {
        position: fixed;
        padding: 30px;

    }

    section {
        /* Agrega estilos generales para las secciones */
        margin-top: 50px;
        /* Espacio superior para no ocultar el contenido debajo del encabezado */

        /* Estilos para hacer que la sección sea fija */
        top: 0;
        background-color: #fff;
        padding-top: 70px;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #000000;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    section h1 {
        margin-bottom: 20px;
    }

    section h2,
    section h3,
    section h4 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    section ul {
        padding-left: 20px;
    }

    section p {
        margin-bottom: 10px;
    }
</style>
<div class="contenedor">
    <div class="row">
        <div class="col-3">
            <aside>
                <h2>Índice</h2>
                <ul>
                    <li><a href="#informacion-general">Información General</a></li>
                    <li><a href="#vencimientos">Vencimientos</a></li>
                    <li><a href="#inspeccion-detallada">Inspección Detallada</a></li>
                    <li><a href="#finalizacion">Finalización</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-9">
            <section>
                <h1 id="informacion-general">Lista de Inspección de Vehículo</h1>
                <h2>Datos de Inspección</h2>
                <h3>Información General</h3>
                <ul>
                    <li>Fecha de aplicación: 2023-11-07</li>
                    <li>N° de inspección: 70</li>
                    <li>Placa: xxxxxx</li>
                    <li>Cédula: 1006663258</li>
                    <li>Conductor: SHAYD AUGUSTO RUANO RODRIGUEZ</li>
                    <li>Celular: 3107531564</li>
                    <li>Categoría de licencia: C3</li>
                    <li>N° de licencia de tránsito: 1111222</li>
                    <li>Tipo de vehículo: Tracto camión</li>
                </ul>
            </section>

            <section>
                <h3 id="vencimientos">Vencimientos</h3>
                <ul>
                    <li>Vencimiento licencia de conducción: 2023-11-06</li>
                    <li>Vencimiento revisión técnico mecánica: 2023-11-06</li>
                    <li>Vencimiento SOAT: 2023-11-06</li>
                </ul>
            </section>

            <section>
                <h3 id="inspeccion-detallada">Inspección Detallada</h3>
                <h4>Niveles</h4>
                <ul>
                    <li>Nivel de ACPM: Bueno</li>
                    <li>Agua Radiador (SE-DT-TC): Malo</li>
                    <li>Aceite Motor (SE-DT-TC): Malo</li>
                    <li>Agua Limpiabrisas (SE-DT-TC): Malo</li>
                    <li>Aceite Hidráulico (SE-DT-TC): No aplica</li>
                </ul>
            </section>

            <section>
                <h3 id="finalizacion">Finalización</h3>
                <p>Nombre completo y firma del conductor: SHAYD AUGUSTO RUANO RODRIGUEZ</p>
                <p>Fecha de finalización: 2023-11-07</p>
            </section>


        </div>
    </div>
</div>