<style>
   

    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
        height: 90vh;
    }

    .icon-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5vw;
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        color: #333;
        font-size: 3vw;
        cursor: pointer;
    }

    .icon {
        margin-bottom: 2vh;
    }

    .text {
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        .button-container {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .row {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .col-4 {
            margin-bottom: 20px;
            width: 100%;
        }

        .icon-button {
            padding: 40px;
            font-size: 18px;
            width: 100%;
            text-align: center;
        }

        .icon-button .icon {
            margin-bottom:  2vh;
        }


    }
</style>


<div class="button-container">
    <div class="row">
        <div class="col-4">
            <a href="/addconductor">
                <button class="icon-button" style="width: 100%; height: 100%; ">
                    <i class="fa-solid fa-plus" style="color: #18dc81;"></i>
                    <span class="text">Agregar conductor</span>
                </button>
            </a>
        </div>
        <div class="col-4">
            <a href="/list">
                <button class="icon-button" style="width: 100%; height: 100%; ">
                    <i class="fa-regular fa-pen-to-square" style="color: #356fd4;"></i>
                    <span class="text">Inspeccionar</span>
                </button>
            </a>
        </div>
        <div class="col-4">
            <a href="/informes">
                <button class="icon-button" style="width: 100%; height: 100%; ">
                    <i class="fa-regular fa-folder-open" style="color: #e78636;"></i>
                    <span class="text">Informes</span>
                </button>
            </a>
        </div>
    </div>
</div>