<header class="topheader">
  <div class="cont">
    <a href="/" class="logo" id="logo">
      <img alt="Logo suratrans" src="/img/logo/logo.ico">
    </a>
    <input type="checkbox" id="menu-icon">
    <label for="menu-icon">Menu</label>
    <nav class="menu">
      <ul>
        <li><a href="/">inicio</a></li>

        <li><a href="#">Inspección +</a>
          <ul>
            <li>
              <a href="#">Registrar Vehiculo</a>
            </li>
            <li>
              <a href="#">Tabla de inspecciónes</a>
            </li>
          </ul>
        </li>
        <li><a href="#">Informes</a></li>
        <li><a href="#">Conductores +</a>
          <ul>
            <li>
              <a href="#">Registrar conductor</a>
            </li>
            <li>
              <a href="#">Tabla conductores</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>