<header class="topheader">
  <nav class="topnav">
    <a href="/" class="logo" id="logo">
      <img height="50" width="100" src="/img/logo/logo.ico" alt="suratrans">
    </a>
    <button class="open-menu" aria-label="Abrir menú">
      <i class="fa-solid fa-bars fa-2xl"></i>
    </button>
    <ul class="menu">
      <button class="close-menu" aria-label="Cerrar menú">
        <i class="fa-solid fa-xmark fa-2xl"></i>
      </button>
      <li><a href="/" id="inicio">inicio</a></li>
      <li><a href="/addInspect" id="inspeccion">Inspeccion</a></li>
      <li><a href="/list" id="listar">Listar</a></li>
      <li><a href="/addconductor" id="conductores">Conductores</a></li>
      <li><a href="/listconductores" id="listarConductores">Listar conductores</a></li>
    </ul>
  </nav>
</header>
