<header class="topheader">
  <div class="cont">
    <a href="/" class="logo" id="logo">
      <img alt="Logo suratrans" src="/img/logo/logo.ico">
    </a>
    <input type="checkbox" id="menu-icon">
    <label for="menu-icon">Menu</label>
    <nav class="menu">
      {{#if error}}
      {{else}}
      <ul>
        {{#if rolDriver}}
        <li><a href="/inspectVehiculo/{{inspectDriver}}"><span>Inspección</span></a></li>
        <li><a href="/informes"><span>Informes</span></a></li>
        <li><a href="/Manuales/Manual_usuario_(conductores).pdf" download="Manual.pdf"><span>Manual de usuario</span></a></li>

        {{else}}
        <li><a href="/"><span>Inicio</span></a></li>
        <li><a href="/listInspect"><span>Tabla de inspección</span></a>
          {{!-- <ul>
            <li>
              <a href="/link"><span>Vincular vehiculo</span></a>
            </li>
            <li>
              <a href="/listInspect"><span>Tabla de inspección</span></a>
            </li>
          </ul> --}}
        </li>
        <li><a href="/informes"><span>Informes</span></a></li>
        <li><a href="/Manuales/Manual_usuario_(Administradores).pdf" download="Manual.pdf"><span>Manual de usuario</span></a></li>
        {{/if}}
        <li><a href="/exit"><span>Salir</span></a></li>
      </ul>
      {{/if}}
    </nav>
  </div>
</header>