<section class="container" id="container">
    <header>Registrar conductor</header>
    <form action="/addconductor" method="post">
        <div class="form first">
            <div class="details addvehicle">
                <span class="title-addvehicle">Datos del conductor</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Cédula </label>
                        <input type="text" name="idDriver" id="idDriver" placeholder="Ingresar la cédula" autofocus
                            required>
                    </div>
                    <div class="input-field">
                        <label>Nombres completos: </label>
                        <input type="text" name="name" id="name" placeholder="Ingresar nombres completos" required>
                    </div>
                    <div class="input-field">
                        <label>Celular</label>
                        <input type="number" name="cellPhoneNumber" id="cellPhoneNumber"
                            placeholder="Ingresar número de celular" required>
                    </div>
                    <div class="input-field">
                        <label>N° licencia </label>
                        <input type="text" name="licenseNumber" id="licenseNumber"
                            placeholder="Ingresar número de licencia" required>
                    </div>
                    <div class="input-field">
                        <label>Categoria</label>
                        <select id="licenseCategoryId" name="licenseCategoryId" class="opcion">
                            <option value="" hidden>seleccionar categoria</option>
                            {{#each category}}
                            <option value="{{idLicenseCategory}}">{{category}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Fecha de vencimiento</label>
                        <input type="date" name="driversLicenseExpiration" id="driversLicenseExpiration" required>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <button type="submit">Registrar</button>
            </div>
        </div>
    </form>
</section>