<center>
    <br><br><br><br><br>
    <p style="font-size: 90px;">ERROR 404</p>
    {{#if noinspection}}
    <br>
    <p style="font-size: 30px;">No tienes una vinculación con un vehiculo</p>
    <p style="font-size: 15px;">Habla con los administradores</p>
    <br>
    {{/if}}
    <a href="/exit" class="btn-error">Salir</a>
    
</center>