<center>
    <br><br><br><br><br>
    <center>
        <p style="font-size: 60px;">No tienes asignada una programación.</p>
    </center>
    {{#if noinspection}}
    <br>
    {{!-- <p style="font-size: 30px;">No tienes una vinculación con un vehiculo</p> --}}
    <p style="font-size: 30px;">Habla con los administradores</p>
    <br>
    {{/if}}
    <a href="/exit" class="btn-error">Salir</a>
    
</center>