<style>
    .display-Input {
        display: none;
    }
</style>

<div class="container p-4">
    <div class="row">
        <form class="needs-validation" action="/add" method="post" novalidate>
            <div class="col-md-12 mx-auto">
                <div class="card text-center">
                    <div class="card-header" style="background-color: rgb(179, 197, 216);">
                        <h3 class="text">1. Información del vehiculo</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mt-3">
                                    <label for="idLicensePlate" class="input-group-text">Placa: </label>
                                    <input class="form-control" type="text" name="idLicensePlate" id="idLicensePlate"
                                        placeholder="xxx-xxx" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mt-3">
                                    <label for="driverId" class="input-group-text">Cédula de conductor: </label>
                                    <input class="form-control" type="text" name="driverId" id="driverId" placeholder=""
                                        required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="trafficLicenseNumber" class="input-group-text">N° Licencia de
                                        tránsito:
                                    </label>
                                    <input class="form-control" type="text" name="trafficLicenseNumber"
                                        id="trafficLicenseNumber" placeholder="" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label class="input-group-text">Tipo de vehiculo:</label>
                                    <select id="opcion" name="opcion" class="form-select">
                                        <option value="Sencillo">Sencillo</option>
                                        <option value="Doble troque">Doble troque</option>
                                        <option value="Tracto camion">Tracto camión</option>
                                        <option value="Contingencia">Contingencia</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                    <input class="form-control" type="text" id="vehicleType" name="vehicleType"
                                        onblur="hideInput()" oninput="showSelectIfEmpty()" style="display: none;"
                                        disabled required>

                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="driversLicenseExpiration" class="input-group-text">Vencimiento
                                        licencia de conducción:
                                    </label>
                                    <input class="form-control" type="date" name="driversLicenseExpiration"
                                        id="driversLicenseExpiration" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="technomechanicsReviewExpiry" class="input-group-text">Vencimiento
                                        revisión tecnico mecanica:</label>
                                    <input class="form-control" type="date" name="technomechanicsReviewExpiry"
                                        id="technomechanicsReviewExpiry" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="soatExpiration" class="input-group-text">Vencimietno SOAT: </label>
                                    <input class="form-control" type="date" name="soatExpiration" id="soatExpiration"
                                        required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="expiryLifeLine" class="input-group-text">Vencimiento liena de
                                        vida: </label>
                                    <input class="form-control" type="date" name="expiryLifeLine" id="expiryLifeLine"
                                        required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="expiryCivilLiabilityPolicy" class="input-group-text">Vencimiento póliza
                                        de responsabilidad civil:
                                    </label>
                                    <input class="form-control" type="date" name="expiryCivilLiabilityPolicy"
                                        id="expiryCivilLiabilityPolicy" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="expiryCivilHydrocarbonsPolicy" class="input-group-text">Vencimiento
                                        póliza civil hidrocarburos:
                                    </label>
                                    <input class="form-control" type="date" name="expiryCivilHydrocarbonsPolicy"
                                        id="expiryCivilHydrocarbonsPolicy" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card text-center">
                    <div class="card-header" style="background-color: rgb(179, 197, 216);">
                        <h3 class="text">2. Informacion del tanque</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <div class="input-group mt-3">
                                    <label for="idTrailerPlate" class="input-group-text">Placa tráiler: </label>
                                    <input class="form-control" type="text" name="idTrailerPlate" id="idTrailerPlate"
                                        placeholder="XXX-XXX" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="capacityTable" class="input-group-text">Tabla aforo: </label>
                                    <input class="form-control" type="text" name="capacityTable" id="capacityTable"
                                        placeholder="" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="hydrostaticExpiration" class="input-group-text">Vencimiento
                                        hidroestática:
                                    </label>
                                    <input class="form-control" type="date" name="hydrostaticExpiration"
                                        id="hydrostaticExpiration" placeholder="" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="expiryFifthWheel" class="input-group-text">Vencimiento quinta
                                        rueda:
                                    </label>
                                    <input class="form-control" type="date" name="expiryFifthWheel"
                                        id="expiryFifthWheel" placeholder="" required>
                                    <div class="valid-feedback">
                                        ¡Esta bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Falta rellenar!
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <div class="col">
                                    <div class="input-group mt-3">
                                        <label for="kingPinExpiry" class="input-group-text">Vencimietno king pin:
                                        </label>
                                        <input class="form-control" type="date" name="kingPinExpiry" id="kingPinExpiry"
                                            placeholder="" required>
                                        <div class="valid-feedback">
                                            ¡Esta bien!
                                        </div>
                                        <div class="invalid-feedback">
                                            ¡Falta rellenar!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card text-center" style="border: none;">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
        </form>
    </div>
</div>
</div>

<script>
    function hideSelect() {
        document.getElementById("opcion").style.display = "none";
    }

    function showSelect() {
        document.getElementById("opcion").style.display = "block";
    }

    function hideInput() {
        const vehicleType = document.getElementById("vehicleType");
        const opcion = document.getElementById("opcion");
        if (vehicleType.value === "") {
            vehicleType.style.display = "none";
            vehicleType.disabled = true;
            showSelect();
        }
    }

    document.getElementById("opcion").addEventListener("change", function () {
        const vehicleType = document.getElementById("vehicleType");
        const opcionSeleccionada = this.value;
        if (opcionSeleccionada === "otro") {
            hideSelect();
            vehicleType.style.display = "block";
            vehicleType.disabled = false;
            vehicleType.focus();
        } else {
            vehicleType.style.display = "none";
            vehicleType.disabled = true;
            showSelect();
        }
    });

    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated');
            }, false)
        })
    })()
</script>